<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">
            <![CDATA[jdbc:mysql://localhost:3306/naivetag?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8]]>
        </property>
        <property name="connection.email">root</property>
        <property name="connection.password">iznauy.top</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="top.minecode.po.admin.AdminPO" />

        <mapping class="top.minecode.po.requester.RequesterPO" />

        <mapping class="top.minecode.po.task.SpecificTaskPO" />
        <mapping class="top.minecode.po.task.TaskPO" />
        <mapping class="top.minecode.po.task.SubTaskPO" />

        <mapping class="top.minecode.po.log.RegisterLogPO" />
        <mapping class="top.minecode.po.log.LoginLogPO" />
        <mapping class="top.minecode.po.log.ReleaseTaskLogPO" />
        <mapping class="top.minecode.po.log.RequesterAccountLogPO" />
        <mapping class="top.minecode.po.log.TaskAccomplishmentLogPO" />
        <mapping class="top.minecode.po.log.TaskCommitmentLogPO" />
        <mapping class="top.minecode.po.log.WorkerAccountLogPO" />
        <mapping class="top.minecode.po.log.WorkerSearchLogPO" />
        <mapping class="top.minecode.po.log.WorkerViewLogPO" />

        <mapping class="top.minecode.po.worker.WorkerPO" />
        <mapping class="top.minecode.po.worker.RankPO" />
        <mapping class="top.minecode.po.worker.FinishedTaskParticipationPO" />
        <mapping class="top.minecode.po.worker.OnGoingTaskParticipationPO" />
        <mapping class="top.minecode.po.worker.SubTaskParticipationPO" />

    </session-factory>


</hibernate-configuration>